footer {
    background: $blue-grey-900;
    color: $blue-grey-100;
    height: 96px;
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 96px;
    & p {
        margin-bottom: 0;
    }
}
