header {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    background: $white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.logo-text {
    font-size: 24px;
    font-weight: 500;
}
