// Primary
$white: #fff;

$yellow-vivid-400: hsl(44, 92%, 63%);
$yellow-vivid-500: hsl(42, 87%, 55%);
$yellow-vivid-900: hsl(15, 86%, 30%);

// Neutrals
$blue-grey-050: hsl(210, 36%, 96%);
$blue-grey-100: hsl(212, 33%, 89%);
$blue-grey-200: hsl(210, 31%, 80%);
$blue-grey-400: hsl(209, 23%, 60%);
$blue-grey-500: hsl(210, 22%, 49%);
$blue-grey-600: hsl(209, 28%, 39%);
$blue-grey-700: hsl(209, 34%, 30%);
$blue-grey-900: hsl(209, 61%, 16%);

// Supporting
$red-200: hsl(360, 77%, 78%);
$red-300: hsl(360, 71%, 66%);
$red-400: hsl(360, 64%, 55%);

$border-radius: 4px;
